body
{
    margin:0;
    padding: 0;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

}
.clock
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 33.33vh;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5rem;
    min-height: 1em;

}
.clock span{
    margin-left: 10px;
}
#ampm
{
    font-size: 3rem;
    align-items: end;
}
.date
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 33.33vh;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5rem;
    min-height: fit-content;
    min-height: 1em;
}
.date span{
    margin-left: 10px;
}
.day
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 33.33vh;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5rem;
    min-height: 1em;
}